|LF_STANDARD|
<!DOCTYPE html>
<html ng-app="ng-da-app">
<head>
	<meta charset="|LANG_ENCODING|">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>OBLAK SOFTWARE - |HOSTNAME|</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="stylesheet" href="/CSS_MAIN" />
	<link rel="stylesheet" href="/CSS_NORMALIZE" />

	<!-- fuentes -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700%7CMontserrat:400,700' rel='stylesheet' type='text/css' />

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> 
	<script src="/JS_MAIN"></script>

</head>
<body ng-controller="gestorContenido" ng-style="gestorScroll">

	<div class="box-header">

		<!-- INICIO HEADER ======================================= -->

		<header class="noselect">

			<!-- logo -->
			<div class="header-logo">
				<a href="/|HOME_MEMORY|"><img src="images/img/logo.png"/></a>
			</div>
			<!-- menu-->
			<nav class="header-menu">
				<ul>
					<li class="boton-menu" ng-click="sMenu()">
						<p>
							<span class="icon-menu"></span>
						</p>
					</li>
				</ul>
			</nav>

			<!-- contenido menu -->
			<div class="menu-contenido ng-hide" ng-show="controlMenu">
				<div class="mc-header">
					<!-- header contenido menu -->
					<nav class="mch-logo header-logo">
						<a href="/|HOME_MEMORY|"><img src="images/img/logo.png"/></a>
					</nav>
					<!-- cerrar menu -->
					<div class="mch-boton-cerrar">
						<ul>
							<li class="boton-menu" ng-click="sMenuCerrar()">
								<p>
									<span class="icon-close"></span>
								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- enlaces -->
				<div class="mc-enlaces">
					<ul>
						<!-- Inicio -->
						<li>
							<a href="/|HOME_MEMORY|">
								<span class="mce-titulo">|MENU_MOBILE_HOME|</span>
								<span class="mce-descripcion">|MENU_MOBILE_HOME_DESC|</span>
							</a>
						</li>
						<!-- Webmail -->
						<li>
							<a href="|WEBAPPS_SSL|://|HOSTNAME|/|WEBMAIL_LINK|">
								<span class="mce-titulo">|MENU_MOBILE_WEBMAIL|</span>
								<span class="mce-descripcion">|MENU_MOBILE_WEBMAIL_DESC|</span>
							</a>
						</li>
						<!-- Gestor archivos -->
						<li>
							<a href="/CMD_FILE_MANAGER">
								<span class="mce-titulo">|MENU_MOBILE_FILE_MANAGER|</span>
								<span class="mce-descripcion">|MENU_MOBILE_FILE_MANAGER_DESC|</span>
							</a>
						</li>
						<!-- Ayuda -->
						<li>
							<a href="http://|HELP_SECTION|/" target="_blank">
								<span class="mce-titulo">|MENU_MOBILE_HELP|</span>
								<span class="mce-descripcion">|MENU_MOBILE_HELP_DESC|</span>
							</a>
						</li>
					</ul>	
				</div>
			</div>

		</header>
		<!-- fin app menu -->
	</div>

	<!-- sub menu -->
